.gd-full-width,
.gd-full-width #wrap,
.gd-full-width #wrap #inner,
.gd-full-width #wrap #inner .wrap,
.gd-full-width #wrap #content-sidebar-wrap,
.gd-full-width #wrap #content,
.gd-full-width #wrap #content .entry {
    max-width: 100%;
    width: 100%;
	 background: none;
    border: 0;
    float: none;
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}

.gd-full-width .center-block { margin: 0 auto; }
.gd-full-width .center-text { text-align: center; }
.gd-full-width .clearfix:before, .clearfix:after { content: "\0020";  display: table; }
.gd-full-width .clearfix:after { clear: both; }
.gd-full-width .clearfix { *zoom: 1; }

@media screen and (max-width: 500px) {
   .gd-full-width .fl-row-bg-video video {
       left:0 !important;    
    }
  .gd-full-width .fl-row-bg-video {
    min-width: 360px;
  }
}